@font-face {
  font-family: "iconfont"; /* Project id 4300953 */
  src: url('./iconfont.woff2?t=1699193188807') format('woff2'),
       url('./iconfont.woff?t=1699193188807') format('woff'),
       url('./iconfont.ttf?t=1699193188807') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-tongzhi:before {
  content: "\e728";
}

.icon-shijianchajian:before {
  content: "\e62f";
}

.icon-zhuomianguanli:before {
  content: "\e638";
}

.icon-shoucangjia:before {
  content: "\e60a";
}

.icon-jurassic_user:before {
  content: "\e6a5";
}

.icon-weixin1:before {
  content: "\e601";
}

.icon-erweima:before {
  content: "\e602";
}

.icon-lianjie:before {
  content: "\e607";
}

.icon-QQ:before {
  content: "\e609";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-shoucang:before {
  content: "\e86d";
}

.icon-jianpan:before {
  content: "\e618";
}

.icon-fenxiang:before {
  content: "\e72f";
}

.icon-buganxingqu_line:before {
  content: "\e605";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-jubao:before {
  content: "\e606";
}

.icon-gengduo-copy:before {
  content: "\e8f5";
}

.icon-jiantoushang:before {
  content: "\e62e";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

.icon-dianying:before {
  content: "\e603";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-icon-test:before {
  content: "\e84d";
}

.icon-dongman:before {
  content: "\e61c";
}

.icon-shejiao:before {
  content: "\e600";
}

.icon-gouwu:before {
  content: "\e899";
}

.icon-meishi:before {
  content: "\e604";
}

.icon-airudiantubiaohuizhi-zhuanqu_youxi:before {
  content: "\e69d";
}

.icon-yinle:before {
  content: "\e63f";
}

.icon-zhibo:before {
  content: "\e6c2";
}

.icon-zhishiku:before {
  content: "\e790";
}

.icon-tiyu:before {
  content: "\e62a";
}

.icon-remen:before {
  content: "\e8f4";
}

.icon-shouye:before {
  content: "\e8bd";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-shandian:before {
  content: "\e8b6";
}

.icon-tishi:before {
  content: "\e8ba";
}

.icon-weixin:before {
  content: "\e8bb";
}

.icon-xiazai:before {
  content: "\e8bc";
}

.icon-zengjia:before {
  content: "\e8c0";
}

.icon-yulebao:before {
  content: "\e8c2";
}

